.boxGreen {
  background-color: var(--primaryLightColor);
  border-radius: 50px;
  padding: 26px;
  margin: 20px;
  margin-right: 81px;
}
.boxGrey {
  background-color: var(--mainGrey);
  border-radius: 50px;
  padding: 26px;
  margin: 20px;
  margin-left: 81px;
}
.boxComment {
  width: 50%;
  margin: 0 auto;
  overflow: scroll;
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 42px;
}
.input-comment1 {
  width: 98%;
  height: 65px;
  outline: none;
  border: none;
  border-top: 2px solid var(--pinkDarkColor);
  padding: 15px;
  margin-top: 15px;
}
.publishButton {
  font-weight: bold;
  color: #fff;
  background-color: var(--primaryColor);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid transparent;
  width: 98%;
  margin: 20px 0 20px 0;
}
.publishButton:hover {
  color: var(--primaryColor);
  background-color: transparent;
  border-color: var(--primaryColor);
}
