button:focus {
  outline: none;
}

.pic {
  background: url('../../images/ban.jpg') no-repeat center center/cover;
  width: 60%;
  height: 90vh;
}
.info {
  display: flex;
}

.content {
  width: 40%;
  text-align: center;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ecf0f1;
}
.content h1 {
  font-family: 'Macan';
  letter-spacing: 0em;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.1em;
}

.content h1 span {
  font-family: 'Domaine';
}
.content p {
  color: #17252a;
}
.head {
  max-width: 80%;
  letter-spacing: 0.1em;
  line-height: 2em;
  margin: 0;
  text-align: left;
  border-top: 3px solid var(--primaryColor);
  padding-top: 20px;
}
.concept {
  max-width: 80%;
  line-height: 2em;
  margin: 0;
  text-align: left;
  border-top: 3px solid var(--primaryColor);
  padding-top: 20px;
}
.content button {
  margin-top: 1rem;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--primaryColor);
  border: none;
  cursor: pointer;
  border: 2px solid var(--primaryColor);
  margin: 20px auto;
}
.content button:hover {
  color: var(--primaryColor);
  background: transparent;
  border: 2px solid var(--primaryColor);
}

.swiper-container {
  max-width: 60vw;
  max-height: 90vh;
  overflow: hidden;
  background-color: var(--secondaryBackground);
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

div.swiper-button-prev,
.swiper-button-next {
  color: var(--primaryColor) !important;
}

.swiper__image {
  min-width: max-content;
  height: max-content;
  min-height: 100%;
}

.swiper__text {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  padding: 5px;
  mix-blend-mode: difference;
}

@media (max-width: 1119px) {
  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .content,
  .pic {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .content h1 {
    font-size: 35px;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  .content p {
    line-height: 2rem;
  }
}
