.max-width-container {
  width: 100%;
  padding: 40px 48px 48px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.lohp-row {
  margin: 0 auto 48px;
}
.section2_title {
  font-size: 28px;
  line-height: 130%;
  font-family: 'Macan';
  margin-top: 30px;
  margin-bottom: 50px;
}
.main-categories .categories-list {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.categories-list li {
  width: 20%;
  padding: 0 10px 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  flex-basis: 25%;
}
.categories-list li > a {
  color: #222325;
  text-align: center;
  position: relative;
  display: inline-block;
}
.lohp-row a {
  text-decoration: none;
}

/* .a_section2:hover {
  color: #1dbf73;
} */
ol,
ul {
  list-style: none;
  list-style-image: none;
}
.categories-list li a img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto 15px;
}
.categories-list li a:after {
  content: '';
  position: absolute;
  top: 45px;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  padding: 0 0 8px;
  width: 48px;
  border-bottom: 2px solid #c5c6c9;
  transition: 0.6s;
}

.categories-list li a:hover:after {
  border-color: var(--primaryColor);
  width: 150px;
  transition: 0.6s;
}
