.searchMentor {
  border-radius: 30px;
  height: 3em;
  width: 30em;
  color: black;
  padding: 15px;
}

.heading-center {
  color: #fff;
  background-color: var(--pinkDarkColor);
  min-height: 10vh;
  max-height: 35vh;
  width: 90vvw;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.titleSearch {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
